@import "../../main.scss";

.addMember{
    z-index: 9999;
    .modal-dialog{
        max-width: 800px;
        .modal-content{
            .modal-body{
                .form{
                    .row{
                        .col-sm-6{
                            padding: 0;
                            .textBox{
                                padding: 0 spacing(1.0);
                            }
                        }
                    }
                }
            }
        }
    }
}