//Variable color
$color-black-0: #000000;
$color-black-1: #1f2e46;
$color-black-2: #222222;
$color-black-3: #455570;
$color-black-4: #081630;
$color-black-5: #0a2029;
$color-black-6: #3a3a3a;
$color-black-7: #333333;
$color-black-8: #343a40;
$color-white-0: #ffffff;
$color-gray-0: #4a4a4a;
$color-gray-1: #949494;
$color-gray-2: #9b9b9b;
$color-gray-3: #d8d8d8;
$color-gray-4: #ebebec;
$color-gray-5: #9c9c9c;
$color-gray-6: #bbbbbb;
$color-gray-7: #e9e9e9;
$color-red-0: #ff0000;
$color-red-1: #e71a0f;
$color-red-2: #fb4226;
$color-red-3: #fa5238;
$color-red-4: #ca4137;
$color-orange-0: #ffa500;
$color-orange-1: #ff6600;
$color-orange-2: #e5a813;
$color-orange-3: #f79320;
$color-blue-0: #0000ff;
$color-blue-1: #60c5ef;
$color-blue-2: #4a90e2;
$color-yellow-0: #ffff00;
$color-lime-0: #00ff00;
$color-lime-1: #00ac4d;
$color-lime-2: #8bc541;
$color-lime-3: #7ed321;
$color-lime-4: #44c020;
$color-lime-5: #4cb050;

//variable font-size
$fs-0: 16px;
$fs-1: 11.2px;
$fs-2: 12px;
$fs-3: 13px;
$fs-4: 14px;
$fs-5: 20px;
$fs-6: 24px;
$fs-7: 30px;
$fs-8: 32px;
$fs-9: 50px;
$fs-10: 60px;
$fs-11: 100px;
$fs-12: 150px;
$fs-13: 15px;
$fs-14: 18px;
$fs-15: 36px;

//variable margin
$default-spacing: 10px;

//varible border-radius
$border-radius: 2px;
$border-radius-1: 3px;
$border-radius-2: 5px;
$border-radius-3: 10px;
$border-radius-4: 4px;
$border-radius-5: 20px;
$border-radius-6: 8px;
$border-radius-7: 6px;

//variable padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;

//variable line-height
$line-height-0: 1.43;

//variable font-weight
$fw-bold-1: 700;
$fw-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-regular-1: 300;

//break points
$breakpoints:(
    'extra-large': 1200px,
    'large': 992px,
    'medium' : 768px,
    'small' : 576px,
);
