@import "../../main.scss";

.TicketBooking__content{
    background-color: rgba(12, 27, 54, 0.8);
    padding: spacing(2.0);
    border-radius: $border-radius-5;
    .TicketBooking__form{
        &.selectScroll{
            height: spacing(50.0);
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 4px;
            }
        }
        &.selectScroll:hover{
            height: spacing(50.0);
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 4px;
                display: block;
            }
            &::-webkit-scrollbar-track{
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb{
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
            }
        }
    }
}