@import "../main.scss";

.left{
    .left__content{
        .left__bg{
            // background-image: url(./img/bloodshot-15815812953448_215x318.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: calc(100% - 80px);
            position: fixed;
            top: spacing(8.0);
            left: -22%;
            float: left;
            width: 26%;
            .left__overlay{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0,1);
                opacity: 0.7;
            }
        }
    }
}

@media (max-width: 768px){
    .left{
        display: none;
    }
}