@import '../main.scss';

.application{
    .row{ 
        width: 100%;
        margin: 0;
        .col-12{
            // background-image: url(../../img/backapp.jpg);
            background-size: contain;
            padding: spacing(12.0) 0 spacing(8.0) 0;
            .application__content{
                max-width: spacing(94.0);
                margin: auto;
                .row{
                    width: 100%;
                    margin: 0;
                    .application__left{
                        color: $color-white-0;
                        h2{
                            // line-height: spacing(5.5);
                            font-weight: $fw-bold;
                            margin-bottom: spacing(0.8);
                        }
                        button{
                            background-color: $color-red-2;
                            color: $color-white-0;
                            padding: spacing(1.0) spacing(2.0);
                            border-radius: $border-radius-4;
                            font-weight: $fw-bold-1;
                            border: none;
                        }
                        .application__textAppUnder{
                            padding-top: spacing(1.0);
                            font-size: $fs-4;
                            span{
                                cursor: pointer;
                                border-bottom: 1px solid $color-white-0;
                            }
                        }
                    }
                    .application__right{
                        position: relative;
                        padding: 0;
                        .application__phone-img{
                            padding: 0 28%;
                        }
                        img{
                            display: block;
                            max-width: 100%;
                            height: auto;
                        }
                        .application__slick-slider{
                            position: absolute;
                            padding: 1.5% 29.3% 0 29.3%;
                            top: 0;
                            left: 0;
                            width: 100%;
                            .application__draggable{
                                position: relative;
                                display: block;
                                height: auto;
                                margin: 0;
                                padding: 0;
                                .slick-list{
                                    border-radius: 20px;
                                }
                                .application__picture{
                                    img{
                                        width: 100%;
                                    }
                                }
                                .slick-next, .slick-prev{
                                    display: none!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: getBreakpoint("medium")){
    .application{
        .row{
            .col-12{
                .application__content{
                    .row{
                        .col-sm-12.application__left{
                            text-align: center;
                            h2{
                                font-size: 25.2px;
                            }
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}