@import "../main.scss";

.info{
    transform: translate(0, -70px);
    z-index: 99;
    .info__onMobile{
        width: 100%;
        margin: 0;
        display: none;
    }
    .info__content{
        width: spacing(87.0);
        margin: auto;
        .nav{
            justify-content: center;
            margin-bottom: spacing(5.0)!important;
            .nav-item{
                .nav-link.active{
                    background: none;
                    color: $color-red-2;
                    font-size: spacing(2.0);
                    font-weight: $fw-bold;
                }
                .nav-link{
                    font-size: spacing(1.8);
                    color: $color-white-0;
                    font-weight: $fw-bold;
                    transition: all 0.2s;
                    line-height: spacing(2.4);
                    height: spacing(2.4);
                    &:hover{
                        font-size: spacing(2.0);
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                .info__row1.row{
                    width: 100%;
                    margin: 0;
                    .info__colLeft{
                        .info__rowLeftInfo{
                            color: $color-white-0;
                            .info__contentTitle{
                                float: left;
                                width: 35%;
                                font-size: $fs-4;
                                font-family: 'SF Medium', sans-serif;
                                font-weight: $fw-bold;
                            }
                            .info__contentInfo{
                                float: left;
                                width: 40%;
                                font-size: $fs-4;
                                color: $color-gray-7;
                            }
                        }
                    }
                    .info__colRight{
                        .info__contentTitle{
                            font-size: $fs-4;
                            font-family: 'SF Medium', sans-serif;
                            color: $color-white-0;
                            font-weight: $fw-bold;
                        }
                        .info__contentInfo{
                            font-size: $fs-4;
                            color: $color-gray-7;
                            text-align: justify;
                        }
                    }
                }

                .info__row2Title{
                    margin-bottom: spacing(1.0);
                    .info__contentTitleFull{
                        font-size: $fs-4;
                        font-family: 'SF Medium', sans-serif;
                        margin: spacing(5.0) 0 spacing(2.0);
                        padding: spacing(0.7);
                        color: $color-gray-7;
                        font-weight: $fw-bold;
                    }
                }
                .row{
                    width: 100%;
                    margin: 0;
                }
                .info__row2{
                    .col-md-4{
                        padding: 0 spacing(0.7);
                        margin-bottom: spacing(1.5);
                        .info__picture{
                            cursor: pointer;
                            margin-bottom: spacing(2.0);
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: spacing(12.9);
                                border-radius: $border-radius-4;
                            }
                        }
                        .info__text{
                            &:hover p{
                                color: $color-red-2;
                            }
                            p{
                                font-weight: $fw-bold;
                                font-family: 'SF Medium', sans-serif;
                                color: $color-white-0;
                                margin-bottom: spacing(0.7);
                                line-height: spacing(2.6);
                                transition: all 0.2s;
    
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                        .info__blockIcon{
                            .info__wrapIcon{
                                display: inline-block;
                                margin-top: spacing(0.2);
                                margin-right: spacing(2.5);
                                cursor: pointer;
                                &:hover img{
                                    transform: scale(1.1);
                                }
                                img{
                                    width: spacing(1.6);
                                    height: auto;
                                    margin-right: spacing(1.0);
                                }
                                .info__among{
                                    display: inline-block;
                                    color: $color-white-0;
                                    font-size: $fs-4;
                                }
                            }
                        }
                    }
                }
                .info__showReview{
                    .row{
                        width: 100%;
                        margin: auto;
                        .col-12{
                            max-width: spacing(58.0);
                            margin: 0 calc(50% - 290px);
                            padding: 0;
                            .info__imgReviewer{
                                position: absolute;
                                top: 50%;
                                left: 3%;
                                transform: translateY(-50%);
                                img{
                                    width: spacing(3.6);
                                    height: spacing(3.6);
                                    border-radius: 50%;
                                }
                            }
                            .info__inputReview{
                                padding: spacing(1.0) spacing(1.0) spacing(1.0) spacing(5.5);
                                width: 100%;
                                border-radius: $border-radius-4;
                                border: 1px solid $color-gray-5;
                                color: $color-gray-5;
                                font-size: $fs-4;
                                height: spacing(6.0);
                                outline: none;
                                &::placeholder{
                                    color: $color-gray-1;
                                }
                            }
                            .info__imgReviewerStar{
                                position: absolute;
                                right: 3%;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
                .info__calendar{
                    .parentListPCinemas{
                        float: left;
                        padding: 0;
                        min-height: spacing(32.5);
                        max-width: spacing(9.2);
                        border: 1px solid $color-gray-4;
                        border-top-left-radius: $border-radius-4;
                        border-bottom-left-radius: $border-radius-4;
                        .nav-pills{
                            .nav-link.active{
                                background-color: transparent;
                                color: transparent;
                                opacity: 1;
                            }
                            .nav-link{
                                opacity: 0.5;
                                padding: spacing(2.0);
                                position: relative;
                                &:hover{
                                    opacity: 1;
                                }
                                &::after{
                                    content: " ";
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    transform: translate(-50%);
                                    width: calc(100% - 40px);
                                    border-bottom: 1px solid rgba(238,238,238,0.88);
                                    // border-color: rgba(238,238,238,0.88);
                                }
                                img{
                                    width: spacing(5.0);
                                }
                            }
                        }
                    }
                    .listCinemas{
                        float: left;
                        height: spacing(32.5);
                        min-height: spacing(32.5);
                        border-top: 1px solid $color-gray-4;
                        border-bottom: 1px solid $color-gray-4;
                        border-right: 1px solid $color-gray-4;
                        border-top-right-radius: $border-radius-4;
                        border-bottom-right-radius: $border-radius-4;
                        width: calc(100% - 92px);
                        padding: 0;
                        .nav{
                            margin-top: spacing(2.5);
                            margin-bottom: spacing(2.5)!important;
                        }
                        .tab-content{
                            .tab-pane.active{
                                opacity: 1;
                            }
                            .tab-pane{
                                .info__items{
                                    p{
                                        margin: 0;
                                    }
                                    .info__cinema{
                                        display: block;
                                        position: relative;
                                        padding: spacing(2.0) spacing(3.5) spacing(1.5) spacing(4.0);
                                        // opacity: 0.5;
                                        // cursor: pointer;
                                        &::after{
                                            content: " ";
                                            position: absolute;
                                            bottom: 0;
                                            left: 50%;
                                            transform: translate(-50%);
                                            width: calc(100% - 80px);
                                            border-bottom: 1px solid rgba(238,238,238,0.88);
                                        }
                                        &:hover{
                                            opacity: 1;
                                        }
                                        &.active{
                                            opacity: 1;
                                        }
                                        .info__picture{
                                            float: left;
                                            width: spacing(5.0);
                                            img{
                                                width: 100%;
                                            }
                                        }
                                        .info__text{
                                            padding-left: spacing(6.0);
                                            cursor: pointer;
                                            p{
                                                line-height: 1.4;
                                                margin: 0;
                                            }
                                            .info__nameMovieCinema{
                                                font-size: $fs-4;
                                                font-weight: $fw-medium;
                                                color: $color-white-0;
                                                .info__colorCinema-CGV{
                                                    color: $color-red-2;
                                                    font-weight: $fw-bold;
                                                }
                                                .info__colorCinema-BHDStar{
                                                    color: $color-lime-2;
                                                }
                                                .info__colorCinema-Galaxy{
                                                    color: $color-orange-1;
                                                }
                                                .info__colorCinema-DDC{
                                                    color: $color-gray-5;
                                                }
                                                .info__colorCinema-MegaGS{
                                                    color: $color-orange-2;
                                                }
                                                .info__colorCinema-CineStar{
                                                    color: $color-blue-0;
                                                }
                                                .info__colorCinema-LotteCinima{
                                                    color: $color-red-4;
                                                }
                                            }
                                            .info__infoMovieCinema{
                                                font-size: $fs-2;
                                                color: $color-gray-1;
            
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }
                                            .info__showingDetailCinema{
                                                a{
                                                    font-size: $fs-2;
                                                    font-weight: $fw-bold;
                                                    color: $color-red-2;
                                                    text-decoration: none;
                                                }
                                            }
                                        }
                                        a{
                                            text-decoration: none;
                                        }
                                        .collapse{
                                            margin-top: spacing(1.0);
                                            .info__time{
                                                .info__2D{
                                                    color: $color-white-0;
                                                }
                                                a{
                                                    margin-top: spacing(1.0);
                                                    margin-right: spacing(2.0);
                                                    border: 1px solid $color-white-0;
                                                    border-radius: $border-radius-5;
                                                    padding: spacing(1.0) spacing(1.0);
                                                    .info__timeBegin{
                                                        color: $color-lime-0;
                                                    }
                                                   
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.selectScroll{
                                height: spacing(22.0);
                                overflow-y: scroll;
                                &::-webkit-scrollbar{
                                    width: 4px;
                                }
                            }
                            &.selectScroll:hover{
                                height: spacing(22.0);
                                overflow-y: scroll;
                                &::-webkit-scrollbar{
                                    width: 4px;
                                    display: block;
                                }
                                &::-webkit-scrollbar-track{
                                    box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
                                    border-radius: 10px;
                                }
                                &::-webkit-scrollbar-thumb{
                                    box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: getBreakpoint("large")){
    .info{
        transform: none;
        .info__content{
            width: 100%;
            margin: auto;
        }
    }
}

@media screen and (max-width: getBreakpoint("medium")){
    .info{
        transform: none;
        .info__content{
            width: 100%;
            margin: auto;
            padding-top: 20px;
            .nav{
                .nav-item{
                    .nav-link{
                        font-size: 16px!important;
                    }
                }
            }
            .tab-content{
                .info__row2{
                    .info__colLeft{
                        padding: 0 4px;
                        .info__picture{
                            padding-top: 50%;
                            position: relative;
                            margin-bottom: 10px!important;
                            img{
                                border: 1px solid #e9e9e9!important;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%!important;
                                object-fit: cover;
                            }
                        }
                        .info__text{   
                            padding: 3px 0 0 12px;
                            p{
                                font-size: 14px;
                            }
                        }
                        .info__blockIcon{
                            display: none;
                        }
                    }
                    .info__responsive{
                        .info__picture{
                            float: left!important;
                            width: 20%!important;
                            position: relative;
                            padding-top: 15%;
                            margin-right: 12px;
                            img{
                                position: absolute;
                                border: 1px solid #e9e9e9!important;
                                top: 0;
                                height: 100%!important;
                                object-fit: cover;
                            }
                        }
                        .info__text{   
                            p{
                                font-size: 14px;
                            }
                        }
                        .info__blockIcon{
                            display: none;
                        }
                    }
                }
                &.selectScroll{
                    height: 200px!important;
                }
            }
        }
        .info__onMobile{
            display: initial;
            .col-ms-12{
                padding: 0 15px;
                .info__text{
                    p{
                        margin-bottom: 0;
                    }
                    .info__film{
                        color: $color-white-0;
                        font-size: $fs-5;
                    }
                    .info__date, .info__time{
                        color: $color-gray-5;
                        font-size: $fs-4;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: getBreakpoint("small")){
    .info{
        .info__content{
            .tab-content{
                &.selectScroll{
                    height: 160px!important;
                }
            }
        }
    }
}