@import "../main.scss";

.calendar {
    .calendar__bg {
        padding: spacing(8) 0 0;
        .calendar__content {
            max-width: spacing(94);
            margin: auto;
            .nav-pills {
                display: flex;
                justify-content: center;

                margin-bottom: spacing(3) !important;
                .nav-item {
                    .nav-link {
                        font-family: "SF Medium", sans-serif;
                        background-color: transparent;
                        color: $color-white-0;
                        font-size: $fs-5;
                        font-weight: $fw-medium;
                        line-height: spacing(2.4);
                        transition: all 0.2s;
                        &.active {
                            color: $color-red-3;
                            font-size: $fs-6;
                        }
                        &:hover {
                            font-size: $fs-6;
                        }
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .calendar__col3 {
                        padding: 0 spacing(1);
                        width: 100%;
                        .calendar__film {
                            border-radius: 5px;
                            margin-bottom: spacing(2.5);
                            background-color: rgba(12, 27, 54, 0.8);
                            &:hover {
                                .calendar__picture .calendar__filmThumbnail .calendar__overlay,
                                .calendar__text .calender__button {
                                    opacity: 1;
                                }
                                .calendar__text .calendar__nameFilm,
                                .calendar__text .calendar__time {
                                    opacity: 0;
                                }
                                .calendar__overlay {
                                    opacity: 1;
                                }
                            }
                            .calendar__picture {
                                height: 100%;
                                .calendar__filmThumbnail {
                                    display: block;
                                    // background-image: url(../../img/vi-anh-van-tin-i-still-believe-15828766569716_215x318.jpg);
                                    background-repeat: no-repeat;
                                    background-size: 100% auto;
                                    padding-top: 148%;
                                    width: 100%;

                                    border-radius: $border-radius-4;
                                    position: relative;

                                    .calendar__overlay {
                                        position: absolute;
                                        top: 0;
                                        background: linear-gradient(to top, #000, transparent 100%);
                                        border-radius: $border-radius-4;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        transition: all 0.2s;
                                        .playTrailer {
                                            outline: none;
                                            background: none;
                                            border: none;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            width: spacing(7);
                                            height: spacing(7);
                                            &:hover {
                                                opacity: 0.7;
                                            }
                                            img {
                                                z-index: 99;
                                                display: block;
                                                width: 100%;
                                            }
                                        }
                                    }

                                    .calendar__ageType {
                                        background-color: $color-red-2;
                                        font-size: $fs-4;
                                        color: $color-white-0;
                                        font-weight: $fw-bold;
                                        padding: spacing(0.2) spacing(0.5);
                                        border-radius: $border-radius-4;
                                        min-width: spacing(3.3);
                                        text-align: center;

                                        position: absolute;
                                        top: spacing(1.2);
                                        left: spacing(1.2);
                                    }
                                    .calendar__ageType-1 {
                                        background-color: $color-lime-1;
                                        color: $color-white-0;
                                        font-size: $fs-4;
                                        font-weight: $fw-bold;
                                        padding: spacing(0.2) spacing(0.5);
                                        border-radius: $border-radius-4;
                                        min-width: spacing(3.3);
                                        text-align: center;

                                        position: absolute;
                                        top: spacing(1.2);
                                        left: spacing(1.2);
                                    }
                                    .calendar__avgPoint.calendar__avgPoint-1 {
                                        font-family: "SF Regular", sans-serif;
                                        bottom: spacing(1.2);
                                        top: auto;
                                        padding: spacing(0.6) 0;
                                        .calendar__point {
                                            font-size: $fs-0;
                                        }
                                    }
                                    .calendar__avgPoint {
                                        font-family: "SF Medium", sans-serif;
                                        font-weight: $fw-bold;
                                        background-color: rgba(12, 27, 54, 0.8);
                                        border: 1px solid $color-black-1;
                                        border-radius: $border-radius-4;
                                        line-height: 1;
                                        display: inline-block;
                                        padding: spacing(0.2);
                                        width: spacing(5.4);

                                        position: absolute;
                                        top: spacing(1.2);
                                        right: spacing(1.2);
                                        .calendar__point {
                                            font-size: $fs-5;
                                            text-align: center;
                                            color: $color-white-0;
                                            margin: 0;
                                        }
                                        .calendar__star {
                                            // display: inline;
                                            text-align: center;
                                            margin: 0;
                                            img {
                                                display: inline-block;
                                                max-width: spacing(0.8);
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }

                            .calendar__text {
                                position: relative;
                                padding: spacing(0.9) spacing(1);
                                .calender__button {
                                    position: absolute;
                                    z-index: 3;

                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);

                                    opacity: 0;
                                    transition: all 0.2s;
                                    .calender__button-booking {
                                        background-color: rgba(18, 70, 168, 0.8);
                                        font-size: $fs-6;
                                        color: $color-white-0;
                                        border-color: blue;
                                        &:hover {
                                            background-color: $color-red-2;
                                            color: $color-white-0;
                                            border-color: $color-white-0;
                                        }
                                    }
                                }
                                .calendar__nameFilm {
                                    font-family: "SF Medium", sans-serif;
                                    font-size: $fs-0;
                                    font-weight: $fw-bold;
                                    line-height: 22px;
                                    margin: 0;
                                    height: spacing(4.2);
                                    max-height: spacing(4.2);
                                    color: $color-white-0;

                                    overflow: hidden;
                                    -o-text-overflow: ellipsis;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;

                                    transition: all 0.2s;
                                }
                                .calendar__time {
                                    font-size: $fs-3;
                                    font-weight: $fw-medium;
                                    margin: spacing(0.8) 0 spacing(0.5);
                                    color: gray;

                                    transition: all 0.2s;
                                }
                            }
                        }
                    }
                }
            }

            .owl-nav {
                .owl-prev,
                .owl-next {
                    position: absolute;
                    top: 45%;
                    transform: translateY(-50%);
                    font-size: $fs-12;
                    outline: none;
                    width: spacing(5);
                    height: spacing(10);
                    z-index: 2;

                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    color: transparent;
                    opacity: 0.5;
                    span {
                        display: none;
                    }
                }
                .owl-prev {
                    left: -7%;
                    // background-image: url(../../img/back-session.png);
                }
                .owl-next {
                    right: -7%;
                    // background-image: url(../../img/next-session.png);
                }
            }
            .owl-dots {
                display: none;
            }
        }
    }
}

@media screen and (max-width: getBreakpoint("small")) {
    .calendar {
        .calendar__bg {
            .calendar__content {
                .nav {
                    .nav-item {
                        .nav-link.active {
                            font-size: 20px;
                        }
                        .nav-link {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
                .tab-pane {
                    // .row {
                    //     .col-12 {
                    //         .row {
                                .calendar__col3 {
                                    .calendar__film {
                                        .calendar__picture {
                                            .calendar__filmThumbnail {
                                                .calendar__ageType {
                                                    font-size: 10px !important;
                                                    padding: 1px 3px !important;
                                                    top: 8px !important;
                                                    left: 8px !important;
                                                }
                                                .calendar__avgPoint {
                                                    width: 44px !important;
                                                    top: 8px !important;
                                                    right: 8px !important;
                                                    .calendar__point {
                                                        font-size: 15px !important;
                                                    }
                                                    .calendar__star {
                                                        img {
                                                            max-width: 5px !important;
                                                        }
                                                    }
                                                }
                                                .calendar__avgPoint.calendar__avgPoint-1 {
                                                    top: auto !important;
                                                }
                                            }
                                        }
                                    }
                                }
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}

@media screen and (max-width: 1099px) {
    .calendar {
        .calendar__bg {
            .calendar__content {
                .tab-pane {
                    // .row {
                    //     .col-12 {
                    //         .row {
                                .calendar__col3 {
                                    .calendar__film {
                                        .calendar__picture {
                                            .calendar__filmThumbnail {
                                                .calendar__ageType {
                                                    font-size: 10px !important;
                                                    padding: 1px 3px !important;
                                                    top: 8px !important;
                                                    left: 8px !important;
                                                }
                                                .calendar__avgPoint {
                                                    width: 44px !important;
                                                    top: 8px !important;
                                                    right: 8px !important;
                                                    .calendar__point {
                                                        font-size: 15px !important;
                                                    }
                                                    .calendar__star {
                                                        img {
                                                            max-width: 5px !important;
                                                        }
                                                    }
                                                }
                                                .calendar__avgPoint.calendar__avgPoint-1 {
                                                    top: auto !important;
                                                }
                                            }
                                        }
                                    }
                                }
                    //         }
                    //     }
                    // }
                }
                .owl-nav {
                    .owl-prev,
                    .owl-next {
                        display: none;
                    }
                }
            }
        }
    }
}
