@import "../main.scss";

header {
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    height: spacing(6);
    box-shadow: 0 0 25px 30px rgba(0, 0, 0, 0.7);
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.7);
    // background: linear-gradient(to bottom, #000, transparent 200%);
    .header__content {
        .header__left {
            .header__webLogo {
                text-decoration: none;
                img {
                    position: absolute;
                    top: 50%;
                    left: spacing(2);
                    transform: translateY(-50%);
                    width: 50px;
                }
            }
        }
        .header__center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .header__text {
                font-family: "SF Regular", sans-serif;
                font-size: $fs-5;
                font-weight: $fw-medium;
                margin-right: spacing(2);
                color: $color-white-0;
                text-decoration: none;

                transition: all 0.2s;
                &:hover {
                    color: $color-red-3;
                }
            }
        }
        .header__right {
            position: absolute;
            top: 50%;
            right: spacing(1.5);
            transform: translateY(-50%);
            .header__account {
                display: inline;
            }
            .header__logIn {
                position: relative;
                padding-right: spacing(1.1);
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    height: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-right: 1px solid #fff;
                    border-right-color: #e9e9e9;
                }
                .header__avatar {
                    width: $fs-7;
                    border-radius: 50%;
                }
                .header__signIn {
                    font-size: $fs-3;
                    color: $color-gray-2;
                    padding-left: spacing(0.3);
                }
            }
            .header__location {
                position: relative;
                font-family: "SF Text Regular", sans-serif;
                padding-right: spacing(0.5);
                .place-header {
                    position: absolute;
                    opacity: 0.5;
                    padding-left: spacing(0.8);
                    top: 8%;
                }
                .dropdown-toggle {
                    // position: absolute;
                    top: 2%;
                    display: inline-block;
                    font-size: $fs-3;
                    color: $color-gray-2;
                    cursor: pointer;
                    // background-image: url(../../../public/img/dropdown-icon.png);
                    background-repeat: no-repeat;
                    background-position: calc(100%);
                    padding-left: spacing(3.5);
                    padding-right: spacing(3.8);
                    &::after {
                        display: none;
                    }
                }
                .dropdown-menu {
                    background: #fff !important;
                    top: 115% !important;
                    min-width: 160px;
                    .ng-scope {
                        .ng-bingding {
                            font-size: $fs-4;
                            color: $color-black-0;
                            padding: spacing(0.3) spacing(2);
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
                .selectScroll {
                    max-height: 300px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 4px;
                    }

                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
        .header__leftMobile,
        .header__rightMobile {
            display: none;
        }
        .header__sideMenu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-color: transparent;
            z-index: 16;
            overflow: hidden;
            transition: all 0.4s;
            &.show {
                display: none;
                background-color: rgba(0, 0, 0, 0.8);
                pointer-events: inherit;
                .wrapMenuMobile {
                    right: 0;
                }
            }
            .wrapMenuMobile {
                position: absolute;
                top: 0;
                right: -70%;
                width: 70%;
                height: 100%;
                background-color: $color-white-0;
                transition: all 0.4s;
                overflow: hidden;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                }
                .header__wrapFirst {
                    padding: spacing(1);
                    position: relative;
                    .header__titleMenu {
                        margin: 0;
                        img {
                            width: spacing(3.6);
                            height: spacing(3.6);
                            border-radius: 50%;
                            margin: 0 spacing(0.5);
                        }
                    }
                    .close {
                        position: absolute;
                        top: 50%;
                        right: spacing(2);
                        transform: translateY(-50%);
                        width: spacing(1.5);
                    }
                }
                .header__text {
                    display: block;
                    padding: spacing(2.0) spacing(1.6);
                    position: relative;
                    width: calc(100% - 40px);
                    font-size: $fs-14;
                    color: $color-black-0;
                    text-decoration: none;
                    transition: all 0.2s;
                }
            }
        }
    }
    button:focus {
        outline: none;
    }
}

// @media (max-width: 1818) and (min-width: 769){
//     header{
//         .header__leftMobile{
//             display: none;
//         }
//         .header__rightMobile{
//             display: none;
//         }
//         .header__sideMenu{
//             display: none;
//             .header__wrapFirst{
//                 .header__titleMenu{
//                     display: none;
//                 }
//             }
//         }
//     }
// }

@media screen and (max-width: getBreakpoint("medium")) {
    header {
        .header__content {
            .header__left,
            .header__center,
            .header__right {
                display: none;
            }
            .header__leftMobile,
            .header__rightMobile {
                display: block;
            }
            .header__leftMobile {
                img {
                    position: absolute;
                    top: 50%;
                    left: spacing(2);
                    transform: translateY(-50%);
                    width: spacing(5);
                }
            }
            .header__rightMobile {
                position: absolute;
                top: 50%;
                right: spacing(2);
                transform: translateY(-50%);
                width: spacing(5.5);
                z-index: 1;
                img {
                    width: 100%;
                }
                &:focus {
                    outline: none;
                }
            }
            .header__sideMenu {
                &.show {
                    display: inline;
                }
            }
        }
    }
}
