@import "../main.scss";

.name{
    .name__content{
        position: relative;
        .name__background{
            .name__overlay{
                position: absolute;
                background: linear-gradient(to top,#0a2029,transparent 100%);
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
            .name__picture{
                max-width: 100%;
                overflow: hidden;
                height: 1000px;
                img{
                    height: auto;
                    filter: blur(spacing(1.5));    
                    margin: -11px 0 -5px -10px;
                    width: calc(100% + 5px);
                }
            }
            .name__items{  
                .name__cover{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: spacing(88.0);
                    margin: auto;
                    .row{
                        width: 100%;
                        margin: 0;
                        .col-md-3{
                            padding: 0;
                            .name__logo{
                                max-width: spacing(22.5);
                                &:hover .name__playTrailer{
                                    opacity: 1;
                                }
                                img{
                                    width: 100%;
                                    border-radius: $border-radius-4;
                                }
                                .name__playTrailer{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    background: 0;
                                    border: none;
                                    z-index: 3;
                                    transition: all 0.2s;
                                    opacity: 0;
                                    outline: none;
                                }
                            }
                        }
                        .col-5{
                            color: $color-white-0;
                            display: flex;
                            align-items: center;
                            .name__text{
                                font-weight: $fw-bold;
                                p{
                                    margin: 0;
                                }
                                .name__date, .name__time{
                                    font-size: $fs-4;
                                    color: $color-gray-7;
                                }
                                .name__film{
                                    font-family: 'SF Medium', sans-serif;
                                    font-size: $fs-6;
                                    span{
                                        font-size: $fs-0;
                                        background-color: $color-red-2;
                                        border-radius: $border-radius-4;
                                        padding: spacing(0.3) spacing(0.5);
                                    }
                                }
                                .name__booking{
                                    margin-top: spacing(2.0);
                                    .booking__button{
                                        border: none;
                                        border-radius: $border-radius-2;
                                        padding: spacing(0.5) spacing(2.5);
                                        background-color: $color-red-2;
                                        font-size: $fs-14;
                                        transition: all 0.2s;
                                        &:hover{
                                            padding: spacing(0.7) spacing(2.7);
                                            font-size: $fs-5;
                                        }
                                    }
                                }
                            }
                        }
                        .col-2{
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            .name__circlePercent{
                                position: relative;
                                font-size: 126px;
                                width: 1em;
                                height: 1em;
                                border-radius: 50%;
                                margin: auto;
                                background-color: rgba(0,0,0,.4);
                                .name__circleBorder{
                                    width: spacing(12.6);
                                    height: spacing(12.6);
                                    background: 0;
                                    border: spacing(.75) solid $color-black-6;
                                    border-radius: 50%;
                                }
                                .name__number{
                                    color: $color-white-0;
                                    position: absolute;
                                    width: 100%;
                                    left: 0;
                                    top: 0;
                                    text-align: center;
                                    font-size: 50px;
                                    line-height: 2.6em;
                                    display: block;
                                }
                                .slice{
                                    .bar{
                                        transform: rotate(234deg);
                                    }
                                    .fill{
                                        transform: rotate(180deg);
                                    }
                                    .haftCircle{
                                        width: spacing(12.6);
                                        height: spacing(12.6);
                                        border: spacing(.75) solid $color-lime-3;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        border-radius: 50%;
                                        clip: rect(0,.5em,1em,0);
                                    }
                                }
                            }
                            .row{
                                width: 100%;
                                margin: 0;
                            }
                            .name__star{
                                justify-content: center;
                                margin-top: spacing(1.0);
                                img{
                                    max-width: spacing(2.5);
                                }
                            }
                            .name__rating{
                                p{
                                    color: $color-gray-7;
                                    font-size: $fs-4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.vbox-overlay{
    .vbox-close{
        // background-image: url(../../../img/close.png);
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0)!important;
        color: transparent!important;
        right: 18%;
        top: 11%;
    }
}

@media screen and (max-width: getBreakpoint("large")){
    .name{
        .name__content{
            .name__background{
                .name__items{
                    .name__cover{
                        width: 768px;
                        .col-2{
                            right: 5%!important;
                            transition: all 0.2s;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: getBreakpoint("medium")){
    .name{
        .name__content{
            .name__background{
                .name__items{
                    .name__cover{
                        width: 100%;
                        .col-2, .col-5{
                            display: none!important;
                        }
                        .col-md-3{
                            .name__logo{
                                .picture{
                                    display: none;
                                }
                                .name__playTrailer{
                                    opacity: 1!important;
                                }
                            }
                        }
                    }  
                }
                .name__picture{
                    img{
                        filter: none; 
                    }
                }
            }
        }
    }
}