@import "../main.scss";

.seatCheckOut{
    margin-left: 4.3%;
    margin-top: spacing(8.0);
    padding-top: spacing(3.0);
    float: left;
    width: 69.7%;
    .seatCheckOut__content{
        width: 100%;
        margin: auto;
        .seatCheckOut__header{
            width: 90%;
            margin: 0 auto;
            // display: flex;
            // justify-content: space-between;
            .seatCheckOut__leftTitle{
                .seatCheckOut__logo{
                    float: left;
                    width: 5.5%;
                    margin-right: spacing(1.3);
                    margin-bottom: spacing(1.0);
                    img{
                        width: 100%;
                    }
                }
                .seatCheckOut__contentCinema{
                    float: left;
                    margin-top: spacing(2.0);
                    p{
                        margin: 0;
                    }
                    .seatCheckOut__hour{
                        color: $color-gray-5;
                        font-size: $fs-4;
                    }
                }
            }
            .seatCheckOut__rightTitle{
                float: right;
                margin-top: spacing(1.0);
                p{
                    margin: 0 0 spacing(1.0);
                }
                .seatCheckOut__info1{
                    font-size: 20px;
                    font-weight: $fw-bold;
                    // color: $color-gray-5;
                    text-align: center;
                    line-height: 0;
                    padding-bottom: spacing(1.5);
                }
                .seatCheckOut__info2{
                    text-align: center;
                    color: $color-red-2;
                    font-size: 29px;
                    line-height: 1;
                    font-weight: $fw-medium;
                    font-family: 'SF Medium', sans-serif;
                }
            }
        }
        .seatCheckOut__seatMap{
            margin-top: spacing(1.0);
            .seatCheckOut__screen{
                text-align: center;
                img{
                    width: 90%;
                }
            }
            .seatCheckOut__listSeat{
                display: grid;
                grid-template-columns: repeat(10,1fr);
                text-align: center;
                width: 80%;
                margin: 0 auto;
                .seatCheckOut__item{
                    margin: spacing(0.8);
                    p{
                        margin: 0;
                        cursor: pointer;
                        border: 1px solid $color-gray-0;
                    }
                    .seatChosen{
                        background-color: $color-gray-3;
                    }
                    .seatChoosing{
                        background-color: $color-lime-0;
                    }
                    .seatNotChosen{
                        background-color: $color-gray-5;
                    }
                }
            }

            .seatCheckOut__noteSeat{
                text-align: center;
                margin-top: spacing(5.0);
                .seatCheckOut__typeSeats{
                    .seatCheckOut__typeSeat{
                        margin-right: spacing(2.1);
                        display: inline-block;
                        .color{
                            position: absolute;
                            width: spacing(3.0);
                            height: spacing(1.8);
                            border: 1px solid $color-gray-0;
                        }
                        .nameSeat{
                            padding-left: spacing(3.5);
                            color: $color-gray-2;
                            font-size: $fs-4;
                        }
                    }
                    .seatCheckOut__colorChoosing{
                        .color{
                            background-color: $color-lime-0;
                        }
                    }
                    .seatCheckOut__colorChosen{
                        .color{
                            background-color: $color-gray-3;
                        }
                    }
                    .seatCheckOut__colorVIP{
                        .color{
                            background-color: orangered;
                        }
                    }
                }
            }
        }
    }
}

// @media (max-width: 1742px) and (min-width: 1610px){
//     .seatCheckOut{
//         .seatCheckOut__content{
//             .seatCheckOut__seatMap{
//                 .seatCheckOut__listSeat{
//                     width: 90%;
//                 grid-template-columns: repeat(20,1fr);
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1610px) and (min-width: 1024px){
//     .seatCheckOut{
//         .seatCheckOut__content{
//             .seatCheckOut__seatMap{
//                 .seatCheckOut__listSeat{
//                     width: 97%;
//                 grid-template-columns: repeat(20,1fr);
//                 }
//             }
//         }
//     }
// }

@media (max-width: 1024px) and (min-width: 868px){
    .seatCheckOut{
        .seatCheckOut__content{
            .seatCheckOut__seatMap{
                .seatCheckOut__listSeat{
                    width: 77%;
                }
            }
        }
    }
}

@media (max-width: 868px) and (min-width: 768px){
    .seatCheckOut{
        .seatCheckOut__content{
            .seatCheckOut__seatMap{
                .seatCheckOut__listSeat{
                    width: 94%;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .seatCheckOut{
        margin-left: 0;
        width: 100%!important;
        .seatCheckOut__content{
            .seatCheckOut__seatMap{
                .seatCheckOut__listSeat{
                    width: 80%;
                }
            }
        }
    }
}

// @media (max-width: 768px) and (min-width: 656px){
//     .seatCheckOut{
//         .seatCheckOut__content{
//             .seatCheckOut__seatMap{
//                 .seatCheckOut__listSeat{
//                     width: 80%;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 656px) and (min-width: 576px){
//     .seatCheckOut{
//         .seatCheckOut__content{
//             .seatCheckOut__seatMap{
//                 .seatCheckOut__listSeat{
//                     width: 90%;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 576px){
//     .seatCheckOut{
//         .seatCheckOut__content{
//             .seatCheckOut__seatMap{
//                 .seatCheckOut__listSeat{
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }