@import "../main.scss";
@keyframes move {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

.animLogin{
    animation: move;
    animation-duration: 2s;
}

.register{
    .register__content{
        position: relative;
        // background-image: url(../../../img/backapp.jpg);
        // width: 100vw;
        height: 100vh;
        padding: 0 calc(50% - 430px);
        background-size: cover;
        background-repeat: no-repeat;
        .register__cover{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
           
            .register__signIn{
                text-align: center;
                color: $color-white-0;
                padding: spacing(4.0) spacing(3.2) spacing(3.0);
                max-width: spacing(36.0);
                background-image: linear-gradient(to bottom,rgba(20,50,93,0.9),rgba(8,22,48,0.9));
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.45);
                img{
                    width: spacing(20.9);
                    margin-bottom: spacing(9.6);
                    cursor: pointer;
                }
                .register__text{
                    font-size: $fs-4;
                    p{
                        margin: 0;
                        font-weight: $fw-bold;
                    }
                }
                .register__social{
                    .register__dangNhap{
                        width: 100%;
                        text-align: center;
                        padding: 0 spacing(1.0);
                        .login{
                            color: $color-white-0;
                            font-size: $fs-14;
                        }
                    }
                }
                .row{
                    width: 100%;
                    margin: 0;
                    .col-md-12{
                        margin-top: spacing(1.0);
                        padding: 0 spacing(1.0);
                        img{
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
                .register__signClose{
                    display: block;
                    position: absolute;
                    top: -18px;
                    right: -18px;
                    width: spacing(3.6);
                    height: spacing(3.6);
                    border-radius: 50%;
                    background-color: $color-black-4;
                    cursor: pointer;
                    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
                }
                .register__signClose::before, .register__signClose::after{
                    content: "";
                    display: block;
                    border-left: 2px solid $color-black-3;
                    width: spacing(0.2);
                    height: spacing(3.0);
                    position: absolute;
                    top: 3px;
                    left: 17.5px;
                }
                .register__signClose::before{
                    transform: rotate(-45deg);
                }
                .register__signClose::after{
                    transform: rotate(45deg);
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    .register{
        .register__content{
            .register__cover{
                .register__signIn{
                    max-width: none;
                    width: 100%;
                    height: 100%;
                    .register__signClose{
                        top: 10px;
                        right: 10px;
                        width: 25px;
                        height: 25px;
                        &::before, &::after{
                            width: 2px;
                            height: 20px;
                            top: 2px;
                            left: 11px;
                        }
                    }
                }
            }
        }
    }
}