@import "../main.scss";

footer{
    background-color: $color-black-2;
    padding-top: spacing(2.0);
    padding-bottom: spacing(2.0);
    .footer__content{
        max-width: spacing(94.0);
        margin: auto;
        .footer__rowFirst{
            width: 100%;
            margin: 0;
            .col-md-4{
                .footer__title{
                    font-size: spacing(1.12);
                    color: $color-white-0;
                }     
            }
            .footer__left{
                .row{
                    .col-sm-6{
                        .footer__text{
                            font-size: spacing(1.2);
                            font-weight: $fw-bold;
                            color: $color-gray-1;
                            line-height: 2.3;
                            cursor: pointer;
                            margin: 0;
                            transition: all 0.2s;
                            &:hover{
                                color: $color-white-0;
                            }
                        }
                    }
                }
            }
            .footer__middle{
                .row{
                    .col-12{
                        margin-bottom: spacing(1.5);
                        a{
                            img{
                                width: spacing(3.0);
                                height: spacing(3.0);
                                border-radius: 50%;
                                margin-right: spacing(1.5);
                            }
                        }
                    }
                }
            }
            .footer__right{
                .row{
                    .col-md-6{
                        text-align: center;
                        a{
                            img{
                                height: spacing(3.0);
                                width: auto;
                                margin: spacing(0.5);
                            }
                        }
                    }
                }
            }
        }
        .footer__hr{
            margin: spacing(2.0) 0;
            border-top: 1px solid $color-gray-0;
        }
        .footer__rowSecond{
            width: 100%;
            margin: 0;
            .footer__img{
                padding: 0;
            }
            .col-sm-1{
                .footer__logo{
                    img{
                        width: spacing(8.0);
                        height: auto;
                        border-radius: $border-radius-6;
                    }
                }
            }
            .col-sm-9{
                font-size: $fs-2;
                h6{
                    color: $color-white-0;
                    font-size: $fs-2;
                    margin: 0;
                    line-height: 1.8;
                }
                p{
                    color: $color-gray-1;
                    margin: 0;
                    line-height: 1.8;
                    .footer__email{
                        color: $color-red-0;
                        text-decoration: none;
                    }
                }
            }
            .col-sm-2{
                .footer__BoCo{
                    text-align: right;
                    img{
                        width: spacing(13.0);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: getBreakpoint("medium")){
    footer{
        .footer__content{
            .footer__rowFirst{
                text-align: center;
                .footer__title{
                    display: none!important;
                }
                .footer__left{
                    .footer__hideOnMobile{
                        display: none;
                    }
                    .footer__onMobile{
                        .footer__text{
                            display: inline-block;
                            margin: 5px!important;
                        }
                    }
                }
                .footer__middle{
                    display: none;
                }
                .footer__right{
                    .footer__hideOnMobile{
                        display: none;
                    }
                }
            }
            .footer__rowSecond{
                text-align: center!important;
                .footer__BoCo{
                    text-align: center!important;
                }
                .footer__img{
                    margin-bottom: 20px;
                }
            }
        }
    }
}