@import "../main.scss";

.news{
    .news__content{
        max-width: spacing(94.0);
        margin: auto;
        padding-top: spacing(12.0);
        // background: url(../../img/back-news.png);
        background-repeat: no-repeat;
        background-size: 100%;
        .news__bg{
            .nav{
                justify-content: center;
                .nav-item{
                    .nav-link.active{
                        background: none;
                        color: $color-red-2;
                        font-size: $fs-6;
                    }
                    .nav-link{
                        color: $color-white-0;
                        font-size: $fs-5;
                        transition: all 0.2s;
                        line-height: spacing(2.4);
                        &:hover{
                            font-size: $fs-6;
                        }
                    }
                }
            }
            .tab-content{
                .tab-pane{
                    .row{
                        width: 100%;
                        margin: 0;
                        padding: 0 spacing(1.5);
                        .news__col{
                            float: left;
                            padding: spacing(0.75);
                            margin: 0 0 spacing(2.0);
                            font-size: $fs-4;
                            width: 50%;
                            .news__picture{
                                cursor: pointer;
                                margin-bottom: spacing(1.0);
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: $border-radius-2;
                                }
                            }
                            .news__text{
                                h6{
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;

                                    height: spacing(4.2);
                                    color: $color-white-0;
                                    font-weight: $fw-bold;
                                    font-family: 'SF Medium', sans-serif;
                                    transition: all 0.2s;
                                    margin-bottom: spacing(0.5);
                                    line-height: spacing(2.0);
                                    transition: all 0.2s;
                                    cursor: pointer;
                                    &:hover{
                                        color: $color-red-2;
                                    }
                                }
                                .content{
                                    text-align: justify;
                                    font-size: $fs-3;
                                    color: $color-gray-6;
                                    padding: 0 spacing(0.5) 0 0;
                                    line-height: spacing(1.9);
                                    height: spacing(5.5);
                                    margin-bottom: spacing(1.5);
                                    
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            .news__blockIcon{
                                .news__wrapIcon{
                                    display: inline-block;
                                    margin-right: spacing(2.5);
                                    cursor: pointer;
                                    img{
                                        width: spacing(1.8);
                                        height: auto;
                                        margin: spacing(0.2) spacing(1.0) 0 0;
                                        transition: all 0.2s;
                                    }
                                    .news__amount{
                                        display: inline-block;
                                        font-size: $fs-2;
                                        color: $color-gray-6;
                                        margin: 0;
                                    }
                                &:hover img{
                                    transform: scale(1.1);
                                }
                                }
                            }
                        }
                        .news__col.news__col-4{
                            width: 33.33%;
                        }
                        .news__col.news__col-4.news{
                            .row{
                                width: 100%;
                                margin: 0;
                                .news__col-12{
                                    .news__picture{
                                        float: left;
                                        width: spacing(5.0);
                                        margin-right: spacing(1.0);
                                        img{
                                            width: 100%;
                                        }
                                    }
                                    .news__Title{
                                        font-size: $fs-0;
                                        color: $color-white-0;
                                        opacity: 0.7;
                                        line-height: spacing(2.0);
                                        height: spacing(4.2);
                                        margin-bottom: spacing(0.5);
                                        transition: all 0.2s;
                                        cursor: pointer;

                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        &:hover{
                                            color: $color-red-2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .news__button{
                        margin-bottom: spacing(3.5);
                        text-align: center;
                        button{
                            font-size: $fs-4;
                            color: $color-gray-1;
                            background-color: $color-white-0;
                            border-radius: $border-radius-2;
                            border: 1px solid $color-gray-1;
                            padding: spacing(0.7) spacing(2.5);
                            margin-top: spacing(3.5);
                            margin-bottom: spacing(2.0);
                            transition: all 0.2s;
                            outline: none;
                            &:hover{
                                color: $color-white-0;
                                background-color: $color-red-2;
                                border: 1px solid $color-white-0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: getBreakpoint("medium")){
    .news{
        .news__content{
            .news__bg{
                .nav{
                    .nav-item{
                        .nav-link.active{
                            font-size: 18px;
                        }
                        .nav-link{
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }
                }
                .tab-content{
                    .tab-pane{
                        .row{
                            padding: 0 10px;
                            .col-ms-12{
                                width: 100%!important;
                                padding: 0;
                                .news__text{
                                    .content, h6{
                                        height: auto;
                                    }
                                }
                            }
                            .news{
                                .row{
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
