/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.trapezoid {
  border-bottom: 25px solid #555;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100%;
}

.ghe{
  border: none;
  cursor: pointer;
  background-color: rgb(175,170,170);
  color: white;
}

.gheDaDat{
  background-color: rgb(238,237,238);
  cursor: no-drop;
  color: white;
}

.gheVip {
  background-color: orangered;
}

.gheDangDat{
  background-color: #00ff00;
}