@import "../../main.scss";

.text__description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user{
    padding-top: 20px;
    padding-left: 20px;
}

.button{
    position: absolute;
    top: 8px;
    right: 50px;
    z-index: 8000;
    border-radius: 50%;
    outline: none;
    width: 50px;
    height: 50px;
    line-height: 10px;
    border: 2px solid #00FF00;
    background-color: transparent;
    transition: all 0.2s;
    &:hover{
        background-color: rgba(0, 255, 0, 0.192);
    }
    &:focus{
        outline: none;
    }
}